{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Olá {{ current_user.username }}
        </h1>
        <p class="text-white mt-0 mb-5">Esta é a sua página de perfil. Você pode ver o progresso do seu trabalho e gerenciar seus projetos ou tarefas atribuídas.</p>
        <a href="#!" class="btn btn-neutral">Editar perfil</a>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="/static/assets/img/theme/team-4.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-sm btn-info  mr-4 ">Conectar</a>
            <a href="#" class="btn btn-sm btn-default float-right">Mensagem</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Projetos</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Tarefas</span>
                </div>
                <div>
                  <span class="heading">35%</span>
                  <span class="description">Progresso</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ current_user.username }}
            </h5>
            <div class="h5 font-weight-300">
              {{ current_user.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i> Desenvolvedor - Especialista em inteligência Artificial
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Formado Mecatrônica / Analise e Desenvolvimento de Sistemas com diversas especializações  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Editar perfil </h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Configuraçãoes</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informações de Usuario</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome Usuario</label>
                    <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{ current_user.username }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" class="form-control" placeholder="{{ current_user.email }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Primeiro nome</label>
                    <input type="text" id="input-first-name" class="form-control" placeholder="Primeiro nome" value="Jonas">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Ultimo nome</label>
                    <input type="text" id="input-last-name" class="form-control" placeholder="Ultimo nome" value="Silva">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informações de contato</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Endereço</label>
                    <input id="input-address" class="form-control" placeholder="Endereço" value="Rua treze de maio, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Cidade</label>
                    <input type="text" id="input-city" class="form-control" placeholder="Cidade" value="Bauru">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">País</label>
                    <input type="text" id="input-country" class="form-control" placeholder="País" value="Brasil">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">CEP</label>
                    <input type="number" id="input-postal-code" class="form-control" placeholder="CEP">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Sobre mim</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">Sobre mim</label>
                <textarea rows="4" class="form-control" placeholder="A few words about you ...">Sou uma pessoa criativa, comunicativa e adoro tecnologia </textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
